body{
    background-color: rgb(230, 209, 255);
    }
  
h1,h2{
    color: rgb(57, 0, 163);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
  }
  
p{
    margin: 50px;
    font-family: Georgia;
  }

img{
    width: 25%;
    float: left;
    padding: 50px;
    }